/* aligning the stuff at the top of the page*/
h4, h6 {
    text-align: center
}

/*marking required form elements*/

.required-label:after {
    content: "*";
    color: red;
}

/*button styling*/

#sign-up {
    width: 38.5rem;
    background-color: #00CC99;
    color: white;
}

#twitter {
    width: 19rem;
    background-color: #4099FF;
    color: white;
}

#google-plus {
    width: 19rem;
    background-color: #d34836;
    color: white;
}

/*styling for the text with lines on the sides*/

.side-lines {
    text-transform: uppercase;
    color: #ccc;
    text-align: center;
    
    position: relative;
    z-index: 1;
    
    &:before {
        border-top: 2px solid #dfdfdf;
        content:"";
        margin: 0 auto; /* this centers the line to the full width specified */
        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 95%;
        z-index: -1;
    }
    
    span {
        /* to hide the lines from behind the text, you have to set the background color the same as the container*/
        background: #fff;
        padding: 0 15px;
    }
}